@font-face {
  font-family: "Objective Bold";
  src: url('../fonts/Objective-Bold.woff2');
}

@font-face {
  font-family: "Objective Medium";
  src: url('../fonts/Objective-Medium.woff2');
}

@font-face {
  font-family: "Objective Regular";
  src: url('../fonts/Objective-Regular.woff2');
}
  
:root{
  --primary-color: #b4b3af;
  --font-color-white: #FFF;
  --font-color-dark: #212529;
  --font-color-active: #F5BA4B;
  --font-family-bold: 'Objective Bold';
  --font-family-medium: 'Objective Medium';
  --font-family-regular: 'Objective Regular';
  --success-color: #C2E8CE;
  --danger-color: #E5C0C0;
  --warning-color: #E2E2BE;
  --info-color: #C0C8E5;
  --break-point-xs: 576px;
  --break-point-sm: 768px;
  --break-point-md: 992px;
  --break-point-lg: 1200px;
  --break-point-xl: 1400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-family-regular);
  max-width: 100vw;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* SCROLL PERSONALIZADO */
body::-webkit-scrollbar{
  width: 10px;
  background: var(--font-color-dark);
}

body::-webkit-scrollbar-thumb{
  background: var(--font-color-active);
  border-radius: 10px;
  border-right: 2px solid var(--font-color-dark);
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------ HEADER -------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.header{
  background-image: linear-gradient(
      /* to right,  */
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
     ),  
     url('../img/cover1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-family-bold);
  text-decoration: none;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
}

.logo > img{
  height: 40px; /* 60px para .sgv*/
  padding-left: 5vw;
}

.nav-menu{
  display: flex;
  list-style: none;
}

.nav-menu-item{
  font-size: 1em;
  margin: 0 30px;
}

.nav-menu-link:hover{
  color: var(--font-color-active);
  border-bottom: 1px solid var(--font-color-active);
  transition: .3s;
}

.nav-menu-link{
  color: var(--font-color-white);
  text-decoration: none;
}

.menu-hamburger{
  background: none;
  border: none;
  padding: 0 20px;
  display: none;
}

.menu-img{
  /* background-image: url('../img/menu.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  /* display: inline-block; */
  height: 2em;
  width: 2em;
  vertical-align: middle;
  fill: var(--font-color-white)!important;
}

.iam{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-white);
}

.my-photo{
  background-color: var(--font-color-active);
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.name-job{
  margin: 10px;
  text-align: center;
}

.nav--change{
  transition: .3s;
  background-color: #21252980;
}


/* ---------------------------------------------------------------------------------- */
/* ------------------------------------- MAIN --------------------------------------- */
/* ---------------------------------------------------------------------------------- */
main{
  display: flex;
  flex-direction: column;
}

.section{
  min-height: 100vh;
  width: 90%;
  max-width: 1440px;
  padding: 70px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------ ABOUT ME -------------------------------------- */
.about-me{
  align-items: center;
  padding-top: 60px;
}

.section.about-me > img {
  width: 90vw;
  max-width: 500px;
  padding: 20px 20px;
}

.content-about-me{
  font-size: .9em;
  text-align: center;
}

.h3{
  text-align: center;
  padding: 10px 10px;
  font-size: 2em;
  color: var(--font-color-active);
}

.section li{
  padding: 10px 10px;
}

.cv{
  display: flex;
  flex-direction: column;
}

.p{
  text-align: center;
}

/* ------------------------------------ SKILLS -------------------------------------- */
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}


.title-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-img{
  /* width: 2em; */
  width: 20%;
  max-width: 2em;
}

.title-block > h4{
  font-size: 1em;
  width: 100%;
  margin-left: 20px;
}

.arrow{
  /* width: 2em; */
  width: 20%;
  max-width: 2em;
  transition: .5s;  
}

.arrow--active{
  transform: rotate(-180deg);
}

.percent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar{
  display: block;
  height: 5px;
  background: rgba(245, 186, 75, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  overflow: hidden;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.bar span{
  height: 20px;
  float: left;
  background: var(--font-color-active)
}

.p90{
  width: 90%;
}

.p70{
  width: 70%;
}

.p75{
  width: 75%;
}

.p50{
  width: 50%;
}

.p80{
  width: 80%;
}

.p60{
  width: 60%;
}

.p85{
  width: 85%;
}

.p100{
  width: 100%;
}

.accordion{
  width: 100%;
  max-width: 30em;
  /* padding: 2em; */
  /* background-color: lightblue; */
}

/* .accordion .block{
  margin: 0 0 1em;
  padding: 1em;
  background-color: red;
} */



.accordion .title-block{
  /* margin: 0 0 1em; */
  padding: 1em;
  cursor: pointer;
  /* background-color: lime; */
}

.accordion .content-block{
  height: 0;
  padding: 0em;
  overflow: hidden;
  transition: all .5s ease;
  /* background-color: orange; */
}

.accordion .block.block--active .content-block{
  height: 10.5em;
  /* height: min-content; */
}






/* ------------------------------------ CONTACT -------------------------------------- */
.contact-container{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.contact-information{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-datas{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
}

.contact-img{
  /* width: 20%; */
  width: 30px;
}

.contact-data{
  margin-left: 20px;
}

.contact-data > p{
  font-size: .75em;
  color: var(--primary-color);
  margin-top: 7px;
}

/* .form-inputs{

}

.inputs-name-email{

} */

.inputs-content{
  background-color: rgba(245, 186, 75, 0.25);
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.input-label{
  font-family: var(--font-family-regular);
  font-size: .75em;
  margin-bottom: 1em;
}

.input-content{
  width: 100%;
  background-color: rgba(245, 186, 75, 0);
  border: none;
  outline: none;
  font-size: 1em;
  font-family: var(--font-family-regular);
  padding: .5em .5em .5em 0;
  color: #706f6d;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color-active);
  color: #fff;
  border-radius: 10px;
  height: 60px;
  max-width: 200px;
  margin-top: 20px;
  font-family: var(--font-family-bold);
}

.button-img{
  margin-left: 10px;
  width: 2em;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------ FOOTER -------------------------------------- */
/* ---------------------------------------------------------------------------------- */
footer{
  background-color: var(--font-color-dark);
}

.footer-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  padding: 20px 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-links {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 0 20px;
  width: 90%;
  max-width: 425px;
}

.footer-link {
  color: var(--primary-color);
}

.footer-link:hover {
  color: var(--font-color-active)
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-i {
  font-size: 25px;
  color: var(--primary-color);
  margin: 10px;
}

.footer-i:hover {
  color: var(--font-color-active)
}

.footer-copy {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  /* ---------------------------------------------------------------------------------- */
  /* ------------------------------------ HEADER -------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  .nav{
    height: 60px;
    justify-content: space-between;
    transition: .3s .3s;
  }

  .logo > img{
    height: 40px;
    padding-left: 5vw;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    top: -100%;
    transition: top .3s;
  }
  
  .nav-menu-item{
    font-size: 1em;
    margin: 20px;
  }
 
  .nav-menu-link{
    color: var(--font-color-dark);
    text-decoration: none;
  }

  .nav-menu-link:hover{
    color: var(--font-color-active);
    border-bottom: 1px solid var(--font-color-active);
    transition: .3s;
  }

  .menu-hamburger{
    display: block;
    cursor: pointer;
  }

  .nav-menu--active{
    top: 60px;
    transition: .3s .2s;
  }
  
  .nav--light{
    background: #fff;
    transition: .3s;
  }

  .menu-img--light{
    fill: var(--font-color-dark)!important;
  }

  /* ---------------------------------------------------------------------------------- */
  /* ------------------------------------- MAIN --------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
}

@media (min-width: 425px) {
  .section{
    width: 80%;
  }
}

@media (min-width: 768px) {
  .accordion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: none;
  }

  .columns{
    min-width: 20em;
    width: 50%;
    max-width: 30em;
  }

  .contact-container{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;

    /* flex-direction: column; */
    /* margin: 20px 0; */
  }
  
  .contact-information{
    margin: 0 15px;
    width: 40%;
  }

  .contact-form{
    width: 60%;
  }

  .form-inputs{
    margin: 0 15px;
  }
  
  .inputs-content{
    background-color: rgba(245, 186, 75, 0.25);
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 10px;
  }

  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-links {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .about-me {
    flex-direction: row;
  }

  .section.about-me > img {
    max-width: 400px;
  }

  .inputs-name-email {
    display: flex;
    justify-content: space-between;
  }

  .inputs-name-email div:nth-child(1){
    margin-right: 5px;
    width: 50%;
  }

  .inputs-name-email div:nth-child(2){
    margin-left: 5px;
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}