@font-face {
  font-family: "Objective Bold";
  src: url('../fonts/Objective-Bold.woff2');
}

@font-face {
  font-family: "Objective Medium";
  src: url('../fonts/Objective-Medium.woff2');
}

@font-face {
  font-family: "Objective Regular";
  src: url('../fonts/Objective-Regular.woff2');
}
  
:root{
  --primary-color: #b4b3af;
  --font-color-white: #FFF;
  --font-color-dark: #212529;
  --font-color-active: #F5BA4B;
  --font-family-bold: 'Objective Bold';
  --font-family-medium: 'Objective Medium';
  --font-family-regular: 'Objective Regular';
  --success-color: #C2E8CE;
  --danger-color: #E5C0C0;
  --warning-color: #E2E2BE;
  --info-color: #C0C8E5;
  --break-point-xs: 576px;
  --break-point-sm: 768px;
  --break-point-md: 992px;
  --break-point-lg: 1200px;
  --break-point-xl: 1400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-family-regular);
  max-width: 100vw;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* SCROLL PERSONALIZADO */
body::-webkit-scrollbar{
  width: 10px;
  background: var(--font-color-dark);
}

body::-webkit-scrollbar-thumb{
  background: var(--font-color-active);
  border-radius: 10px;
  border-right: 2px solid var(--font-color-dark);
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------ HEADER -------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.header{
  background-image: linear-gradient(
      /* to right,  */
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
     ),  
     url('../img/cover1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-family-bold);
  text-decoration: none;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 20;
}

.logo {
  z-index: 20;
}

.logo > img{
  height: 40px; /* 60px para .sgv*/
  padding-left: 5vw;
}

.nav-menu{
  display: flex;
  list-style: none;
}

.nav-menu-item{
  font-size: 1em;
  margin: 0 30px;
}

.nav-menu-link:hover{
  color: var(--font-color-active);
  border-bottom: 1px solid var(--font-color-active);
  transition: .3s;
}

.nav-menu-link{
  color: var(--font-color-white);
  text-decoration: none;
}

.menu-hamburger{
  background: none;
  border: none;
  padding: 0 20px;
  display: none;
  z-index: 20;
}

.menu-img{
  /* background-image: url('../img/menu.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  /* display: inline-block; */
  height: 2em;
  width: 2em;
  vertical-align: middle;
  fill: var(--font-color-white)!important;
}

.iam{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-white);
}

.my-photo{
  background-color: var(--font-color-active);
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.name-job{
  margin: 10px;
  text-align: center;
}

.nav--change{
  transition: .3s;
  background-color: #21252980;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


/* ---------------------------------------------------------------------------------- */
/* ------------------------------------- MAIN --------------------------------------- */
/* ---------------------------------------------------------------------------------- */
main{
  display: flex;
  flex-direction: column;
}

.section{
  min-height: 100vh;
  width: 90%;
  max-width: 1440px;
  padding: 70px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------ ABOUT ME -------------------------------------- */
.about-me{
  align-items: center;
  padding-top: 60px;
}

/* .about-me-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

.section.about-me > .about-me-texts > img {
  width: 90vw;
  max-width: 500px;
  padding: 20px 20px;
}

.content-about-me{
  font-size: .9em;
  text-align: center;
}

.h3{
  text-align: center;
  padding: 10px 10px;
  font-size: 2em;
  color: var(--font-color-active);
}

.section li{
  padding: 10px 10px;
}

.cv{
  display: flex;
  flex-direction: column;
}

.p{
  text-align: center;
}

.statistics-cv {
  margin-top: 10px;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.items {
  padding: 0 10px;
}

.items > h4 {
  font-family: var(--font-family-bold);
  text-align: center;
  padding: 5px 0;
}

.items > p {
  color: var(--primary-color);
  text-align: center;
  font-size: .75rem;
}

.button-download-cv {
  display: flex;
  justify-content: center;
}

.download {
  width: 100%;
}


/* ------------------------------------ SKILLS -------------------------------------- */
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.block {
  padding: 3px 3px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}

.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.title-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-img{
  /* width: 2em; */
  width: 20%;
  max-width: 2em;
}

.title-block > h4{
  font-size: 1em;
  width: 100%;
  margin-left: 20px;
}

.arrow{
  /* width: 2em; */
  width: 20%;
  max-width: 2em;
  transition: .5s;  
}

.arrow--active{
  transform: rotate(-180deg);
}

.percent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar{
  display: block;
  height: 5px;
  background: rgba(245, 186, 75, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  overflow: hidden;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.bar span{
  height: 20px;
  float: left;
  background: var(--font-color-active)
}

.p90{
  width: 90%;
}

.p70{
  width: 70%;
}

.p75{
  width: 75%;
}

.p50{
  width: 50%;
}

.p80{
  width: 80%;
}

.p60{
  width: 60%;
}

.p85{
  width: 85%;
}

.p100{
  width: 100%;
}

.accordion{
  width: 100%;
  max-width: 30em;
  /* padding: 2em; */
  /* background-color: lightblue; */
}

/* .accordion .block{
  margin: 0 0 1em;
  padding: 1em;
  background-color: red;
} */



.accordion .title-block{
  /* margin: 0 0 1em; */
  padding: 1em;
  cursor: pointer;
  /* background-color: lime; */
}

.accordion .content-block{
  height: 0;
  padding: 0em;
  overflow: hidden;
  transition: all .5s ease;
  /* background-color: orange; */
}

.accordion .block.block--active .content-block{
  height: 10.5em;
  /* height: min-content; */
}


/* ------------------------------------ QUALIFICATIONS -------------------------------------- */
/* .carrer-studies {

} */

.qualifications-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.qualifications-tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0;
  min-width: 300px;
}

.qualifications-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-medium);
  cursor: pointer;
  width: 50%;
  font-size: 1.2em;

  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}

.qualifications-button:hover {
  color: var(--font-color-active);

  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.tabs-img {
  width: 31px;
}

/* .qualification-sections {
  
} */

/* .qualifcation-content {
  
} */

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.data-data {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transition: all 0.25s;
}
.data-data:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  /* background-color: var(--font-color-active); */
} 

.qualification-title {
  margin-bottom: .9em;
}

.qualification-subtitle {
  color: var(--primary-color);
  font-size: .8em;
  margin-bottom: .5em;
}

.qualification-calendar {
  color: var(--primary-color);
  font-size: .9em;
}

.calendar-img {
  height: 1em;
}

.qualification-circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--font-color-active);
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--font-color-active);
  transform: translate(6px, -7px);
}

.section [data-content] {
  display: none;
}

.qualification--show[data-content] {
  display: block;
}

.qualifications-button.qualification--show {
  color: var(--font-color-active);
}


/* ------------------------------------ PROJECTS -------------------------------------- */
.project-container {
  width: 100%;
  max-width: 1200px;
  /* height: 430px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card-project {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.card-project:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.project-img {
  width: 330px;
  height: 220px;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center;
}

.card-project p {
  padding: 1rem 1rem;
}

.card-project a {
  text-decoration: none;
}

/* .projects-links {

} */

.project-i {
  font-size: 2em;
  color: var(--primary-color);
}

.project-i:hover {
  color: var(--font-color-active)
}

/* ------------------------------------ CONTACT -------------------------------------- */
.contact-container{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.contact-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contact-datas{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
  width: 260px;
}

.contact-img{
  width: 30px;
}

.contact-data{
  margin-left: 20px;
}

.contact-data > p{
  font-size: .75em;
  color: var(--primary-color);
  margin-top: 7px;
}

.form-inputs{
  max-width: 650px;
}

.inputs-content {
  background-color: rgba(245, 186, 75, 0.25);
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s;
}

.inputs-content-focus {
  transform: translateY(-2px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
} 

.input-label{
  font-family: var(--font-family-regular);
  font-size: .75em;
  margin-bottom: 1em;
}

.input-content{
  width: 100%;
  background-color: rgba(245, 186, 75, 0);
  border: none;
  outline: none;
  font-size: 1em;
  font-family: var(--font-family-regular);
  padding: .5em .5em .5em 0;
  color: #706f6d;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color-active);
  color: #fff;
  border-radius: 10px;
  height: 60px;
  max-width: 200px;
  margin-top: 20px;
  font-family: var(--font-family-bold);
  padding: 10px;
  border-style: none;
  cursor: pointer;

  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--font-color-active);
} 

.button-img{
  margin-left: 10px;
  width: 2em;
}

.form-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5em;
  max-width: 650px;
}

.form-message > i {
  font-size: 4em;
  color: var(--font-color-active);
}

.form-message > h4 {
  text-align: center;
  font-size: 2.5em;
  color: var(--font-color-active);
}

.form-message > p {
  text-align: center;
}

.notice {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--danger-color);
  color: #ff3838;
  border: 1px solid #ff3838;
}

.submit-spiner {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  justify-content: center;
}

.loader{
  margin-left: auto;  
  margin-right: auto;
}

.loader-i {
  font-size: 3em;
}

.hidden {
  display: none;
}

textarea{
  resize: vertical;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------ FOOTER -------------------------------------- */
/* ---------------------------------------------------------------------------------- */
footer{
  background-color: var(--font-color-dark);
}

.footer-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  padding: 20px 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-links {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 0 20px;
  width: 90%;
  max-width: 550px;
}

.footer-link {
  color: var(--primary-color);
}

.footer-link:hover {
  color: var(--font-color-active)
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-i {
  font-size: 25px;
  color: var(--primary-color);
  margin: 10px;
}

.footer-i:hover {
  color: var(--font-color-active)
}

.footer-copy {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------- SCROLL UP --------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.scrollup {
  position: fixed;
  right: 1em;
  bottom: -20%;
  background-color: var(--font-color-active);
  opacity: .8;
  padding: 0 .3em;
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup--show {
  bottom: 1rem;
}

.scrollup-img {
  width: 20px;
  height: 20px;
}

  /* ---------------------------------------------------------------------------------- */
  /* ------------------------------------ MEDIA QUERYS -------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .nav{
    height: 60px;
    justify-content: space-between;
    transition: .3s .3s;
  }

  .logo > img{
    height: 40px;
    padding-left: 5vw;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    top: -100%;
    transition: top .3s;
  }
  
  .nav-menu-item{
    font-size: 1em;
    margin: 20px;
  }
 
  .nav-menu-link{
    color: var(--font-color-dark);
    text-decoration: none;
  }

  .nav-menu-link:hover{
    color: var(--font-color-active);
    border-bottom: 1px solid var(--font-color-active);
    transition: .3s;
  }

  .menu-hamburger{
    display: block;
    cursor: pointer;
  }

  .nav-menu--active{
    top: 60px;
    transition: .3s .2s;
  }
  
  .nav--light{
    background: #fff;
    transition: .3s;
  }

  .menu-img--light{
    fill: var(--font-color-dark)!important;
  }
}

@media (min-width: 425px) {
  .section{
    width: 80%;
  }
}

@media (min-width: 768px) {
  .accordion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: none;
  }

  .columns{
    min-width: 20em;
    width: 50%;
    max-width: 30em;
  }

  .contact-container{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;

    /* flex-direction: column; */
    /* margin: 20px 0; */
  }
  
  .contact-information{
    margin: 0 15px;
    width: 40%;
  }

  .contact-form{
    width: 60%;
  }

  .form-inputs{
    margin: 0 15px;
  }
  
  .inputs-content{
    background-color: rgba(245, 186, 75, 0.25);
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 10px;
  }

  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-links {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .about-me-texts {
  display: flex;
  flex-direction: row;
  }

  .section.about-me > .about-me-texts > img {
    max-width: 400px;
  }

  .inputs-name-email {
    display: flex;
    justify-content: space-between;
  }

  .inputs-name-email div:nth-child(1){
    margin-right: 5px;
    width: 50%;
  }

  .inputs-name-email div:nth-child(2){
    margin-left: 5px;
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .scrollup {
    right: 10em;
  }
  .scrollup--show {
    bottom: 4rem;
  }
}